/* Index / Homepage */

.supporter-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    align-items: center;
    justify-items: center;
    margin: 2rem 0;
}

.supporter-grid img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


/* Toggle logos for dark mode */
/* 1. Hide the dark logo by default */
.dark-only {
  display: none !important;
}

/* 2. When the HTML tag has data-theme='dark', swap them */
:root[data-theme='dark'] .light-only {
  display: none !important;
}

:root[data-theme='dark'] .dark-only {
  display: block !important;
}